* {
  font-family: "Lato", sans-serif;
  padding: 0;
  margin: 0;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 50px 240px 0 240px;
  background: rgba(229, 84, 115, 0.1);
}
.header h1 {
  color: #272727;
  font-size: 80px;
  font-weight: 800;
}
.header p {
  color: rgba(39, 39, 39, 0.6);
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  margin: 32px 0;
}
.header img {
  width: 635px;
}
.btn {
  background-color: #e55473;
  color: #fff;
  border: none;
  border-radius: 9px;
  padding: 20px 43px;
}

/*Featured Flower Section */
.featured-section {
  margin: 150px 0 0 0;
  padding: 20px 240px;
}
.featured-section h3 {
  color: #272727;
  text-align: center;
  font-size: 40px;
  font-weight: 800;
  margin-bottom: 20px;
}
.featured-section p {
  color: rgba(39, 39, 39, 0.6);
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
}

.featured-cards {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}
.card-1 img,
.card-2 img {
  position: relative;
  top: 110px;
  left: 70px;
}
.card-3 img {
  position: relative;
  top: 65px;
  left: 70px;
}
.card p {
  color: #272727;
  font-size: 24px;
  font-weight: 700;
  line-height: 35px;
  text-decoration-line: underline;
  margin-top: 20px;
}
.card-1,
.card-2,
.card-3 {
  width: 464px;
  height: 538px;
  border-radius: 300px 300px 0px 0px;
}
.card-1 {
  background: rgba(167, 33, 98, 0.15);
}
.card-2 {
  background: rgba(5, 151, 160, 0.15);
}
.card-3 {
  background: rgba(71, 125, 17, 0.15);
}

.featured-icons {
  display: flex;
  border-radius: 8px;
  background: rgba(39, 39, 39, 0.05);
  justify-content: space-around;
  margin: 130px 0;
  padding: 80px 0;
}
.icon-box {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.icon-box img {
  width: 88px;
  height: 88px;
  padding-bottom: 20px;
}

/*Hot Deal Section */
.hot-deal {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 100px 400px;
  border-radius: 8px;
  background: rgba(229, 84, 115, 0.05);
}

.hot-deal h3 {
  color: #272727;
  font-size: 40px;
  font-weight: 800;
  text-align: center;
  margin-bottom: 24px;
}
.hot-deal p {
  color: rgba(39, 39, 39, 0.6);
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  margin-bottom: 32px;
}
.hot-deal .btn {
  display: block;
  margin: 0 auto;
}

/* instagram Section */
.instagram-section {
  margin: 130px 240px;
}

.instagram-section h3 {
  color: #272727;
  text-align: center;
  font-size: 40px;
  font-weight: 800;
  margin-bottom: 20px;
}
.instagram-section p {
  color: rgba(39, 39, 39, 0.6);
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
}
.img-grid {
  padding: 50px 0;
  display: flex;
  justify-content: space-between;
}

/* subscribe-section */
.subscribe-section {
  background-image: url(./img/13.png);
  width: 1440px;
  height: 449px;
  margin: 0 auto 130px auto;
  background-repeat: no-repeat;
}

.subscribe-section h3 {
  color: #272727;
  text-align: center;
  font-size: 40px;
  font-weight: 800;
  padding: 120px 0 16px 0;
}
.subscribe-section p {
  color: rgba(39, 39, 39, 0.6);
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  margin-bottom: 50px;
}
.subscribe-input {
  display: flex;
  justify-content: center;
}
.subscribe-input input {
  width: 700px;
  height: 64px;
  border: none;
  border-radius: 10px;
  margin-right: 20px;
}
.subscribe-input input::placeholder {
  padding-left: 20px;
}

/* footer section */

footer {
  padding: 128px 0;
  background-color: #111010;
  color: white;
}
footer h3 {
  text-align: center;
  font-size: 40px;
  font-weight: 800;
  padding: 0 0 16px 0;
}
footer span {
  color: #e55473;
}
footer p {
  text-align: center;
  color: rgba(255, 255, 255, 0.90);
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  margin-bottom: 50px;
}
footer h4 {
  color: rgb(99, 98, 98);
  text-align: center;
  font-size: 16px;
  font-weight: 400;
}
